modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
SMTP_HOST = "smtp-relay.brevo.com"
SMTP_PORT = "587"
SMTP_USER = "a7ef82001@smtp-brevo.com"
SMTP_PASS = "xsmtpsib-497332e1a59eaa4be1b9d73d6af462c178f092688e1eb629c77e14df7d1a622f-11nRSkQzzkHnNY2b"
