modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
SMTP_HOST = "mail81.lwspanel.com"
SMTP_PORT = "465"
SMTP_USER = "contact@no-stress.net"
SMTP_PASS = "5jmnEvzjHKN39@4"
JWT_SECRET = "e882b36856ea709c4c5556f78a38b0ac355e366011997b2400156e031540c1b91bcc4851c387894431244b9c11664522"

[userenv.development]
ADMIN_EMAIL = "tamekloes@gmail.com"

[userenv.production]
ADMIN_EMAIL = "nostresstogo@gmail.com"

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 25147
externalPort = 3001

[[ports]]
localPort = 25266
externalPort = 3002

[[ports]]
localPort = 25579
externalPort = 3000
