modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
SMTP_HOST = "smtp-relay.brevo.com"
SMTP_PORT = "587"
SMTP_USER = "a7ef82001@smtp-brevo.com"
SMTP_PASS = "xsmtpsib-497332e1a59eaa4be1b9d73d6af462c178f092688e1eb629c77e14df7d1a622f-11nRSkQzzkHnNY2b"
JWT_SECRET = "e882b36856ea709c4c5556f78a38b0ac355e366011997b2400156e031540c1b91bcc4851c387894431244b9c11664522"

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 25147
externalPort = 3001

[[ports]]
localPort = 25266
externalPort = 3002

[[ports]]
localPort = 25579
externalPort = 3000
